[submodule "cleanroom-theme"]
	path = theme
	url = git@github.com:CleanroomLead/cleanroom-theme.git
[submodule "cleanroom-technical-docs"]
	path = technical-docs
	url = git@github.com:CleanroomLead/cleanroom-technical-docs.git
