[submodule "cleanroom-technical-docs"]
	path = cleanroom-technical-docs
	url = /home/user/Projects/cleanroom-technical-docs
[submodule "cleanroom-theme"]
	path = cleanroom-theme
	url = /home/user/Projects/cleanroom-theme
